In [5]:
# from IPython.core.display import display, HTML
# display(HTML("<style>.container { width:100% !important; }</style>"))

In [11]:
import pandas as pd

In [12]:
pd.read_csv("allAC.csv")

,Unnamed: 0,Aircraft Name,Unnamed: 2,Engine,Fuel Consumtion (lbs/km),Cruise Speed (kph),CO2 Emmision (pax/km),Cost ($),Capacity,Runway (ft),Range (ft),A-Check ($),Maint. Check (hrs),Pilots,Crew,Engineers,Tech,Fuel/seat,Fuel/seat*cost
0,12,Cessna 172,23,Lycomming IO-360-L2A,3.76,221,0.05,51000,3,2500,1000,2341,400,1,0,1,1,1.253333,6.392000e+04
1,146,Phenom 100,163,PW617F-E,7.20,707,0.10,68000,4,2000,2182,950,490,2,1,1,1,1.800000,1.224000e+05
2,124,EMB 121 Xingu I,154,PW PT6A-28,7.76,328,0.10,85000,5,2000,2352,3294,350,2,1,1,1,1.552000,1.319200e+05
3,218,An-74VIP,217,Lotarev D-36-(3A),7.68,539,0.10,100722,12,6500,3300,9065,350,2,1,1,3,0.640000,6.446208e+04
4,147,Phenom 300,164,PW 535,8.72,850,0.10,102000,6,2000,3334,1829,460,2,1,1,1,1.453333,1.482400e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,76,B777-300LR,106,GE 90-110B1,21.63,1026,0.26,131844032,451,11000,14500,5273761,460,2,13,5,3,0.047960,6.323251e+06
441,2,A380-800,6,RR Trent 970,18.90,916,0.26,215629503,600,9680,14500,6468885,450,2,18,6,16,0.031500,6.792329e+06
442,2,A380-800,7,RR Trent 972,22.26,1048,0.26,215629503,600,9680,14500,6468885,450,2,18,6,16,0.037100,7.999855e+06
443,2,A380-800,5,GP7270,22.89,963,0.26,215629503,600,9680,14500,6468885,450,2,18,6,16,0.038150,8.226266e+06
444,14,Concorde,28,RR/SNECMA Olympus 593 MK610 Afterburning,48.88,1932,0.65,407808000,120,11800,7500,43839360,330,4,15,2,25,0.407333,1.661138e+08

In [13]:
df = pd.read_csv("allAC.csv")

In [17]:
df = df[ df["Cost ($)"] < 95000000]

df

,Unnamed: 0,Aircraft Name,Unnamed: 2,Engine,Fuel Consumtion (lbs/km),Cruise Speed (kph),CO2 Emmision (pax/km),Cost ($),Capacity,Runway (ft),Range (ft),A-Check ($),Maint. Check (hrs),Pilots,Crew,Engineers,Tech,Fuel/seat,Fuel/seat*cost
0,12,Cessna 172,23,Lycomming IO-360-L2A,3.76,221,0.05,51000,3,2500,1000,2341,400,1,0,1,1,1.253333,63920.000
1,146,Phenom 100,163,PW617F-E,7.20,707,0.10,68000,4,2000,2182,950,490,2,1,1,1,1.800000,122400.000
2,124,EMB 121 Xingu I,154,PW PT6A-28,7.76,328,0.10,85000,5,2000,2352,3294,350,2,1,1,1,1.552000,131920.000
3,218,An-74VIP,217,Lotarev D-36-(3A),7.68,539,0.10,100722,12,6500,3300,9065,350,2,1,1,3,0.640000,64462.080
4,147,Phenom 300,164,PW 535,8.72,850,0.10,102000,6,2000,3334,1829,460,2,1,1,1,1.453333,148240.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,305,B777-9X,293,GE9X,21.56,931,0.28,91150989,406,9000,14500,1823020,540,2,15,6,16,0.053103,4840431.830
432,1,B747-400,1,PW4062,20.16,866,0.26,92136845,416,10250,14500,7140605,330,2,13,4,4,0.048462,4465093.258
433,1,B747-400,3,RR RB211-524,20.79,884,0.26,92136845,416,10250,14500,7140605,330,2,13,4,4,0.049976,4604627.422
434,1,B747-400,2,GE CF6-80C2b5F,21.21,946,0.26,92136845,416,10250,14500,7140605,330,2,13,4,4,0.050986,4697650.198
435,1,B747-400,4,PW4056,22.89,982,0.26,92136845,416,10250,14500,7140605,330,2,13,4,4,0.055024,5069741.303

In [13]:
df.sort_values(by='Fuel/seat', ascending=True)

,Unnamed: 0,Aircraft Name,Unnamed: 2,Engine,Fuel Consumtion (lbs/km),Cruise Speed (kph),CO2 Emmision (pax/km),Cost ($),Capacity,Runway (ft),Range (ft),A-Check ($),Maint. Check (hrs),Pilots,Crew,Engineers,Tech,Fuel/seat,Fuel/seat*cost
322,314,B737 MAX 10,286,CFM LEAP-1B,7.21,880,0.10,19649600,225,7600,7000,400000,450,2,5,2,2,0.032044,6.296605e+05
319,299,B737 MAX 9,286,CFM LEAP-1B,7.21,880,0.09,18849600,200,7550,7000,376992,500,2,4,2,2,0.036050,6.795281e+05
318,312,B737 MAX 8,286,CFM LEAP-1B,7.21,880,0.09,18011300,180,7500,6500,360226,520,2,3,2,2,0.040056,7.214526e+05
312,300,A320-NEO,288,PW PW1100G,7.07,892,0.09,14770196,164,7000,7000,295404,540,2,4,2,2,0.043110,6.367395e+05
399,73,B777-200,99,GE90-77B,17.46,814,0.22,60803647,400,9000,9695,3648219,470,2,11,3,3,0.043650,2.654079e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,147,Phenom 300,164,PW 535,8.72,850,0.10,102000,6,2000,3334,1829,460,2,1,1,1,1.453333,1.482400e+05
30,324,King Air 350i,115,Pratt & Whitney Canada PT6A-66,16.16,626,0.15,187000,11,3300,3340,8883,400,2,1,1,1,1.469091,2.747200e+05
32,192,DC-1,193,SGR-1820F,18.00,297,0.22,204000,12,2000,1500,2314,200,2,1,1,2,1.500000,3.060000e+05
2,124,EMB 121 Xingu I,154,PW PT6A-28,7.76,328,0.10,85000,5,2000,2352,3294,350,2,1,1,1,1.552000,1.319200e+05
1,146,Phenom 100,163,PW617F-E,7.20,707,0.10,68000,4,2000,2182,950,490,2,1,1,1,1.800000,1.224000e+05

In [16]:
df.sort_values(by='Range (ft)', ascending=False)
df

,Unnamed: 0,Aircraft Name,Unnamed: 2,Engine,Fuel Consumtion (lbs/km),Cruise Speed (kph),CO2 Emmision (pax/km),Cost ($),Capacity,Runway (ft),Range (ft),A-Check ($),Maint. Check (hrs),Pilots,Crew,Engineers,Tech,Fuel/seat,Fuel/seat*cost
0,12,Cessna 172,23,Lycomming IO-360-L2A,3.76,221,0.05,51000,3,2500,1000,2341,400,1,0,1,1,1.253333,6.392000e+04
1,146,Phenom 100,163,PW617F-E,7.20,707,0.10,68000,4,2000,2182,950,490,2,1,1,1,1.800000,1.224000e+05
2,124,EMB 121 Xingu I,154,PW PT6A-28,7.76,328,0.10,85000,5,2000,2352,3294,350,2,1,1,1,1.552000,1.319200e+05
3,218,An-74VIP,217,Lotarev D-36-(3A),7.68,539,0.10,100722,12,6500,3300,9065,350,2,1,1,3,0.640000,6.446208e+04
4,147,Phenom 300,164,PW 535,8.72,850,0.10,102000,6,2000,3334,1829,460,2,1,1,1,1.453333,1.482400e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,76,B777-300LR,106,GE 90-110B1,21.63,1026,0.26,131844032,451,11000,14500,5273761,460,2,13,5,3,0.047960,6.323251e+06
441,2,A380-800,6,RR Trent 970,18.90,916,0.26,215629503,600,9680,14500,6468885,450,2,18,6,16,0.031500,6.792329e+06
442,2,A380-800,7,RR Trent 972,22.26,1048,0.26,215629503,600,9680,14500,6468885,450,2,18,6,16,0.037100,7.999855e+06
443,2,A380-800,5,GP7270,22.89,963,0.26,215629503,600,9680,14500,6468885,450,2,18,6,16,0.038150,8.226266e+06
444,14,Concorde,28,RR/SNECMA Olympus 593 MK610 Afterburning,48.88,1932,0.65,407808000,120,11800,7500,43839360,330,4,15,2,25,0.407333,1.661138e+08

In [19]:
df = df[ df["Range (ft)"] > 17216]

df

Empty DataFrame
Columns: [Unnamed: 0, Aircraft Name, Unnamed: 2, Engine, Fuel Consumtion (lbs/km), Cruise Speed (kph), CO2 Emmision (pax/km), Cost ($), Capacity , Runway (ft), Range (ft), A-Check ($), Maint. Check (hrs), Pilots, Crew, Engineers, Tech, Fuel/seat, Fuel/seat*cost]
Index: []

In [1]:
fuel_cost = 450
CO2_cost = 103
reputation = 0.8


y_class = 0
j_class = 0
f_class = 61

y_price = 2790
j_price = 4830
f_price = 5220

AC_fuel_use = 9.4
AC_CO2 = 0.12

route_distance = 3106

In [2]:
flight_revenue = (y_class*y_price)+(j_class*j_price)+(f_class*f_price)
fuel_consumption = AC_fuel_use*route_distance
fuel_cost_for_flight = (fuel_cost)*(fuel_consumption/1000)
quota_use = AC_CO2*((y_class*reputation)+((j_class*2)*reputation)+((f_class*3)*reputation))*route_distance
quota_cost_for_flight = (CO2_cost)*(quota_use/1000)
flight_profit = flight_revenue-(fuel_cost_for_flight+quota_cost_for_flight)

print("Flight Fuel Cost: " + "$" + str(int(fuel_cost_for_flight)))
print("Flight Co2 Quota Cost: " + "$" + str(int(quota_cost_for_flight)))
print("Flight Revenue: " + "$" + str(int(flight_revenue)))
print("Flight Profit: " + "$" + str(int(flight_profit)))
print("quotas:" + str(int(quota_use)))

Flight Fuel Cost: $13138
Flight Co2 Quota Cost: $5620
Flight Revenue: $318420
Flight Profit: $299661
quotas:54566

In [6]:
(187170*9)+(198650*9)

3472380

In [2]:
686-303

383

In [3]:
92*3

276

In [7]:
1169511+1116159

2285670

In [3]:
299661*6

1797966